.userInfo {
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem 1.5rem 4rem 1.5rem;
  margin-top: 2rem;
}

.userInfo.darkMode {
  background-color: var(--semiDark);
}
