.userInfo {
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem 1.5rem 4rem 1.5rem;
  margin-top: 2rem;
}

.userInfo.darkMode {
  background-color: var(--semiDark);
}

.userInfo.darkMode h2,
.userInfo.darkMode p,
.userInfo.darkMode a {
  color: var(--white);
}

.userInfo.darkMode h2.login {
  color: var(--electric);
}

.avatarDesktop {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.avatarMobile {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.name {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--darkBlue);
}

.login {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--electric);
}

.createdAt {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--gray);
  margin-top: 6px;
}

.bio {
  margin-top: 2rem;
  color: var(--darkSky);
  font-size: 13px;
  line-height: 1.5rem;
}
