.contact {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: auto;
  margin-top: 1.5rem;
}

.contactItem {
  position: relative;
}

.contactText {
  position: absolute;
  top: 0;
  left: 2rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--darkSky);
}

.contactItem.opacity {
  opacity: 0.5;
}

.websiteLink {
  text-decoration: none;
}
