@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --electric: #0079ff;
  --gray: #697c9a;
  --darkSky: #4b6a9b;
  --darkBlue: #2b3442;
  --lightBg: #f6f8ff;
  --light: #fefefe;
  --white: #ffffff;
  --dark: #141d2f;
  --semiDark: #1e2a47;
  --errorMessage: #f74646;
}

body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 1.5rem 5rem 1.5rem;
  background-color: var(--lightBg);
}
